
.container {
align-items: flex-start;
   background-color: rgba(0, 60, 255, 0.657);
   font-size: large;
   font-family: sans serif 

   }

   img {
       width: 500px;
    
   }




























footer {
    display: block;
    background-color: rgb(45, 102, 187);
    color: azure;
    font-family: sans-serif;
}